Options -Indexes

RewriteEngine On
RewriteRule ^datas/(auth|content|logs|recycle|users|env.json) "-" [F]

# php_value display_errors false
# php_value log_errors 1
# php_value error_log "../../datas/logs/app-errors.txt"