@mixin medium-screen
	@media screen and (min-width: 768px)
		@content
	
@keyframes entry-from-left
	from	
		transform: translate(-15px)	
	to
		transform: initial
	
body
	--marpad: 15px
	--danger-color: #f33
	--theme-color-a: #a00c3d
	--theme-color-b: #444
	--theme-color-c: #fff
	color: var(--theme-color-b)
	font-family: sans-serif
	margin: 0
	@include medium-screen
		--marpad: 60px

a
	color: inherit

button
	cursor: pointer
	font-family: sans-serif
	padding: 8px 10px
	border: none
	background-color: transparent
	border-radius: 3px
	margin: 3px

.main-nav
	display: flex
	flex-direction: column
	justify-content: space-between
	position: fixed
	padding: 15px
	top: 0
	left: 0
	bottom: 0
	border-right: solid 1px
	background-color: var(--theme-color-a)

		

	&__svg
		fill: var(--theme-color-c)
		width: 30px

.dial
	&--visible
		background-color: #fffd
		bottom: 0
		display: grid
		left: 0
		position: fixed
		right: 0
		top: 0
		z-index: 2
	&__content
		margin: auto
		max-width: 60ch
		text-align: center
	&__button
		background-color: var(--theme-color-c)
		border: solid 1px #bbb
		opacity: 0.8
		&--danger
			background-color: var(--danger-color)
			border: none
			color: var(--theme-color-c)
		&:hover
			opacity: 1





.browser
	margin-left: 60px
	padding: var(--marpad)
		
	&__tree
		align-items: center
		animation: none 0.25s ease
		display: flex
		pre
			font-family: sans-serif
		a:last-of-type
			font-weight: bold
		&--updated
			animation-name: entry-from-left

	&__list
		padding: 0

	&__item
		$theme-color-b: #444
		align-items: center
		border-bottom: solid 1px lighten($theme-color-b, 65%)
		border-left: solid 5px var(--theme-color-c)
		color: var(--theme-color-b)
		display: grid
		grid-template-columns: 5fr auto
		justify-content: space-between
		max-width: 768px
		padding: 0 5px
		&:hover
			border-left-color: var(--theme-color-a)
		&__link
			align-items: center
			color: var(--theme-color-b)
			display: flex
			text-decoration: none
			&__title
				font-family: serif
				font-size: 1em
				font-weight: normal
				text-decoration: underline lighten($theme-color-b, 40%)
			&__info
				font-size: 0.75em
				margin-top: -15px
			&__svg
				fill: var(--theme-color-a)
				margin-right: 5px
				max-width: 50px
				min-width: 50px
		&__actions
			&__svg
				fill: var(--theme-color-b)
				width: 35px
				&:hover
					fill: var(--theme-color-a)


		