/* Commons */

@font-face
	font-display: swap
	font-family: 'Josefin'
	src: url("./JosefinSans-Regular.woff2") format("woff2")

@mixin medium-screen
	@media screen and (min-width: 768px)
		@content
	
@keyframes entry-from-left
	from	
		transform: translate(-15px)	
	to
		transform: initial

a
	color: inherit
	&:hover
		color: var(--theme-color-a)

label, input
	margin: 10px 0
	display: block

button
	background-color: transparent
	background-color: var(--theme-color-e)
	border-radius: 3px
	border: none
	color: var(--theme-color-c)
	cursor: pointer
	font-family: Josefin, sans-serif
	font-size: 0.85em
	margin-right: 5px
	padding: 10px 15px
	&:hover
		background-color: var(--theme-color-a)

/* Specifics */

body
	--danger-color: #f33
	--theme-color-a: #a00c3d
	--theme-color-b: #ccc
	--theme-color-c: #fff
	--theme-color-d: #eee
	--theme-color-e: #333
	--theme-color-f: #666
	color: var(--theme-color-e)
	font-family: Josefin, sans-serif
	margin: 0
	display: flex
	justify-content: center
	height: 100vh
	align-items: center
	&.--in-datas
		.datas-feature
			display: block
		.recycle-feature
			display: none
	&.--in-recycle
		.datas-feature
			display: none
		.recycle-feature
			display: block

.browser
	width: 75vh
	height: 500px
	overflow-y: auto
	scrollbar-color: var(--theme-color-a)
	scrollbar-width: thin
	padding-right: 15px
	
	&__nav
		width: 75vh
		position: absolute
		background-color: var(--theme-color-c)
		z-index: 2
		border-bottom: solid 1px var(--theme-color-d)
		display: flex
		padding-bottom: 15px
		&__svg
			fill: var(--theme-color-a)
			width: 35px
			margin-right: 15px

	&__tree-nav
		margin-top: 60px
		align-items: center
		animation: none 0.25s ease
		display: flex
		pre
			font-family: Josefin, sans-serif
		a:last-of-type
			font-weight: bold
		&--updated
			animation-name: entry-from-left

	&__list
		margin: 0
		padding: 0

	&__item
		align-items: center
		border-bottom: solid 1px var(--theme-color-d)
		border-left: solid 5px var(--theme-color-c)
		display: grid
		fill: var(--theme-color-b)
		grid-template-columns: 5fr auto
		justify-content: space-between
		padding: 0 5px
		&:last-of-type
			border-bottom: none
		&:hover
			fill: var(--theme-color-a)
			border-left-color: var(--theme-color-a)
		&__link
			align-items: center
			display: flex
			text-decoration: none
			&__title
				color: var(--theme-color-e)
				font-size: 1em
				font-weight: normal
				text-decoration: underline var(--theme-color-d)
			&__info
				color: var(--theme-color-f)
				margin-top: -15px
				font-size: 0.85em 
			&__svg
				fill: inherit
				margin-right: 5px
				max-width: 30px
				min-width: 30px
	
		&__actions
			display: flex
			&__a:first-child
				border-right: solid 1px var(--theme-color-d)
			&__svg
				fill: var(--theme-color-b)
				width: 20px
				padding: 10px
				&:hover
					fill: var(--theme-color-a)

.dial
	&--visible
		background-color: #fffd
		bottom: 0
		display: grid
		left: 0
		position: fixed
		right: 0
		top: 0
		z-index: 2
	&__content
		margin: auto
		max-width: 30ch
	&__bt
		&--danger
			background-color: var(--danger-color)