/* Commons */

@font-face
	font-display: swap
	font-family: 'Josefin'
	src: url("./Josefin-Sans-Regular.woff2") format("woff2")

@mixin medium-screen
	@media screen and (min-width: 768px)
		@content

@keyframes setScaleTransform
	100%
		transform: scale(1.5)

@keyframes setOpacity
	100%
		opacity: 1

a
	color: inherit
	&:hover
		color: var(--main-color)

label, input
	margin: 10px 0
	display: block

svg
	fill: var(--fill-color)
	padding: 5px
	width: 25px
	&:hover
		fill: var(--main-color)

.dangerous:hover
	fill: var(--danger-color)

button, a
	background-color: transparent
	border: none
	color: var(--theme-color-f)
	cursor: pointer
	font-family: Josefin, sans-serif
	font-size: 1em
	&:hover
		color: var(--main-color)

/* Specifics */
body
	--danger-color: #f33
	--bg-color: #fff
	--border-color: #eee
	--fill-color: #ccc
	--font-color-hight: #333
	--font-color-low: #666
	--main-color: #a00c3d
	background-color: var(--bg-color)
	box-sizing: border-box
	color: var(--font-color-hight)
	display: grid
	font-family: Josefin, sans-serif
	height: 100vh
	margin: 0
	min-width: 300px
	.datas-feature
		display: block
	.recycle-feature
		display: none
	&.--in-recycle
		.datas-feature
			display: none
		.recycle-feature
			display: block
	&.--darkmode
		--bg-color: #222
		--border-color: #333
		--fill-color: #555
		--font-color-hight: #fff
		--font-color-low: #999
		--main-color: #a00c3d

.bwr
	@include medium-screen	
		margin: auto
		max-width: 768px
		
	&__nav
		background-color: var(--bg-color)
		max-width: 768px
		padding: 15px 0
		position: fixed
		top: 0
		width: 100%

		&__actions, &__tree
			display: flex
			align-items: center
			flex-wrap: wrap
		
		&__bt
			border-right: solid 1px var(--border-color)
			text-decoration: underline
			&:last-of-type
				border-right: none
				margin-left: auto
				margin-right: 12px
	
		&__tree
			animation: none 0.25s ease
			background-color: var(--border-color)
			margin-top: 10px
			padding: 0 10px
			pre
				font-family: Josefin, sans-serif		
	
	&__list
		box-sizing: border-box
		margin: 0
		margin-top: 145px
		overflow-y: auto
		padding: 0
		scrollbar-width: thin

	&__item
		align-items: center
		border-bottom: solid 1px var(--border-color)
		border-left: solid 5px var(--bg-color)
		display: grid
		fill: var(--fill-color)
		grid-template-columns: minmax(250px, 1fr) auto
		justify-content: space-between
		
		&:last-of-type
			border-bottom: none
		&:hover
			border-left-color: var(--main-color)
			fill: var(--main-color)
		
		&__link
			align-items: center
			display: flex
			text-decoration: none

		&__title
			color: var(--font-color-hight)
			font-size: 1em
			font-weight: normal
			margin-left: 5px
			text-decoration: underline var(--border-color)
		
		&__mess
			color: var(--font-color-low)
			font-size: 0.85em 
			margin-left: 5px
			margin-top: -15px
		
		&__bt, &__a
			display: block
			vertical-align: middle
			&:first-child
				border-bottom: solid 1px var(--border-color)
			@include medium-screen			
				display: inline-block
				padding: 10px
				&:first-child
					border-bottom: none
					border-right: solid 1px var(--border-color)
				
		&__svg
			fill: inherit

.dial
	&--visible
		background-color: var(--bg-color)
		bottom: 0
		display: grid
		left: 0
		position: fixed
		right: 0
		top: 0
		z-index: 2
	&__content
		margin: auto
		max-width: 30ch
	&__bt
		border-radius: 3px
		border: solid 1px var(--fill-color)
		margin-right: 5px
		padding: 8px 12px
		&--danger
			color: var(--danger-color)

.pgr-upload
	display: none
	&--active
		background-color: var(--bg-color)
		bottom: 0
		display: block
		left: 0
		padding: 10px 0 0 0
		position: fixed
		right: 0
		text-align: center
		>div		
			background-color: var(--main-color)
			box-sizing: border-box
			height: 10px
			width: 0
		>p
			margin: 0

.pgr-click
	display: none
	&--active
		background-color: var(--bg-color)
		bottom: 50%
		box-sizing: border-box
		display: initial
		height: 175px
		left: 50%
		margin-left: -150px
		margin-top: -87.5px
		padding: 30px
		position: fixed
		right: 50%
		top: 50%
		width: 300px
		z-index: 2
		.pgr-click__tiles-ct
			animation: setScaleTransform 0.15s ease-out 0.45s 1 forwards
			display: grid
			grid-template-columns: 15px 15px
			justify-content: center
			margin-bottom: 5px
		.pgr-click__tile
			animation: setOpacity 0.15s ease-out 0s 1 forwards
			background-color: var(--danger-color)
			height: 15px
			opacity: 0
			width: 15px
			&:first-of-type
				animation-delay: 0s
				border-top-left-radius: 3px
			&:nth-of-type(2)
				animation-delay: 0.15s
				border-top-right-radius: 3px
			&:nth-of-type(3)
				animation-delay: 0.30s
				border-bottom-left-radius: 3px
			&:last-of-type
				animation-delay: 0.45s
				border-bottom-right-radius: 3px
		.pgr-click__mess
			animation: setOpacity 0.15s 0.45s 1 forwards
			color: inherit
			opacity: 0
			position: absolute
			text-align: center
			width: 240px