@font-face
	font-display: swap
	font-family: 'Josefin'
	src: url("./josefin.woff2") format("woff2")

@keyframes setScaleTransform
	to
		transform: scale(1.5)

@keyframes fade
	from
		opacity: 0
	to
		opacity: 1

html
	font-size: 16px

body
	--base-color: #666
	--bg-color: #fff
	--border-color: #ccc
	--cirrus-color: #2db4e1
	--hovered-color: #000
	background-color: var(--bg-color)
	box-sizing: border-box
	color: var(--base-color)
	display: grid
	font-family: Josefin, sans-serif
	height: 100vh
	margin: 0

.owner-ft,
.publisher-ft, 
.recycle-ft,
.editable
	display: none

.--dark-mode
	--base-color: #bbb
	--bg-color: #222
	--border-color: #444	
	--hovered-color: #fff
	
// Editable boxes.

.--edit-mode
	.non-editable 		
		display: none !important
	.editable
		display: block

// Features visible by owner and publishers, hidden for viewers.

.--publisher .publisher-ft
		display: block

// Features visible by owner, hidden for publishers & viewers.

.--owner .owner-ft
		display: block

// Features for the recycle directory.

.--in-recycle
	.recycle-ft
		display: block
	.datas-ft
		display: none

// ...

.--hidden
	display: none !important	

// Interactive elements.

a
	color: inherit
	cursor: pointer
	text-decoration: none
	&:hover
		color: var(--hovered-color)
		text-decoration: underline

button
	background-color: transparent
	border: none
	cursor: pointer
	display: block
	height: 44px
	width: 44px
	&::before
		border-radius: 50%
		content: ""
		display: block
		height: 9px
		margin: 0 auto 6px auto
		width: 9px	
	&:hover
		outline: none
		&::before
			background-color: var(--cirrus-color)
		svg
			fill: var(--hovered-color)

.bar__form
	align-items: center
	display: flex

input
	background-color: transparent
	border: none
	border-bottom: solid 1px var(--border-color) 
	color: var(--base-color)
	display: block
	font-size: 1rem
	margin: 18px 0
	max-width: 120px
	padding-bottom: 3px
	width: 100%
	&:focus
		border-bottom-color: var(--cirrus-color)
		outline: none
	@media screen and (min-width: 500px)
		max-width: 240px

nav input
	margin: 24px 0 -6px 6px

nav label
	position: absolute
	top: -9999px

svg
	vertical-align: middle
	fill: var(--base-color)
	width: 24px

// User interface.

.nav
	align-items: center
	background-color: var(--bg-color)
	box-sizing: border-box
	display: flex
	padding: 12px
	position: sticky
	top: 0
	z-index: 1
	button:nth-of-type(6)
		margin-left: auto

.infos
	border-bottom: solid 1px var(--border-color)
	border-top: solid 1px var(--border-color)
	display: grid
	grid-template-columns: auto auto
	justify-content: space-between	
	margin: 12px
	padding: 24px 12px
	span
		position: relative
		top: 2px
	svg
		width: 12px

.list
	margin: 0
	padding: 0
	&__item
		align-items: center
		display: none
		grid-template-columns: auto 1fr repeat(3, auto)
		padding: 0px 12px 0px 24px
		&.--visible
			display: grid
		&::before
			border-radius: 50%
			content: ""
			height: 9px
			margin-right: 12px
			width: 9px	
		&:hover::before, &.--hovered::before
			background-color: var(--cirrus-color)
		&__a:hover
			svg
				fill: var(--hovered-color)
		&__svg		
			margin-right: 12px
			width: 18px
	
.preview, .perms-panel
	background-color: #000a
	bottom: 0
	display: none
	left: 0
	position: fixed
	right: 0
	top: 0
	z-index: 2
	&.--visible
		display: block
	> div
		background-color: var(--bg-color)
		border: solid 1px var(--border-color)
		display: flex
		flex-direction: column
		height: 80vh
		left: 50%
		margin-left: -40vw
		margin-top: -40vh
		overflow: auto
		position: fixed
		top: 50%
		width: 80vw
	&__nav
		display: flex
		background-color: var(--bg-color)
		padding: 12px
		padding-bottom: 24px
		position: sticky
		top: 0
	button:last-of-type
		margin-left: auto

.preview
	&__item
		display: grid
		height: 100%
		width: 100%
		&__img
			display: block
			margin: auto
			max-width: 100%
		&__iframe
			border: none
			display: block
			height: 100%
			width: 100%

.perms-panel
	form
		margin: auto
		max-width: 360px
	label
		display: block
		margin: 24px 0
	fieldset label
		align-items: center
		display: grid
		grid-template-columns: 48px auto
	textarea
		box-sizing: border-box
		font-family: inherit
		height: 90px
		min-height: 60px
		resize: vertical
		width: 100%

.upload-bar
	background-color: var(--bg-color)
	bottom: 0
	left: 0
	padding: 12px 0 0 0
	position: fixed
	right: 0
	text-align: center
	> div	
		background-color: var(--hovered-color)
		box-sizing: border-box
		height: 10px
		width: 0
	> p
		margin: 0

.popup	
	box-sizing: border-box
	display: flex
	flex-direction: column
	height: 220px
	justify-content: center
	left: 50%
	margin-left: -110px
	margin-top: -110px
	position: fixed
	text-align: center
	top: 50%
	transform: translateX(-100vw)
	width: 220px
	&--confirm // State when pressure is maintained.
		--mess-anim: fade 0.10s 0.50s 1 both
		--tile-a-anim: fade .2s ease-out 0s 1 both
		--tile-b-anim: fade .2s ease-out .2s 1 both
		--tile-c-anim: fade .2s ease-out .4s 1 both
		--tile-ct-anim: setScaleTransform 0.10s ease-out 0.50s 1 both
		transform: initial
	&__tiles-ct	
		animation: var(--tile-ct-anim)
		display: grid
		gap: 6px
		justify-content: center
		margin-bottom: 30px	
	&__tile
		background-color: var(--hovered-color)
		border-radius: 50%
		&:first-of-type
			animation: var(--tile-a-anim)
			height: 4px
			margin-top: auto
			width: 4px
		&:nth-of-type(2)
			animation: var(--tile-b-anim)
			height: 8px
			margin-bottom: auto
			margin-left: 6px
			width: 8px
		&:nth-of-type(3)
			animation: var(--tile-c-anim)
			height: 12px
			margin-top: auto
			width: 12px
	&__content
		animation: var(--mess-anim)
		background-color: var(--hovered-color)
		border-radius: 6px
		color: var(--bg-color)
		padding: 24px	